In [1]:
import nltk
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\jasim\Data Science\My Project\Movie Recommendation System\data\processed\cleaned_data.csv')
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [3]:
df.shape

(4806, 3)

In [4]:
from nltk.stem import WordNetLemmatizer
wordnet = WordNetLemmatizer()

In [5]:
def lemmatize(text):
    y = []
    for i in text.split():
        y.append(wordnet.lemmatize(i, pos='v'))
    return ' '.join(y)

In [6]:
df['tags'] = df['tags'].apply(lemmatize)

In [7]:
df['tags'][0]

'in the 22nd century, a paraplegic marine be dispatch to the moon pandora on a unique mission, but become tear between follow order and protect an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee jamescameron'

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
countvectorizer = CountVectorizer(stop_words='english')

In [9]:
vectors = countvectorizer.fit_transform(df['tags']).toarray()

In [10]:
len(countvectorizer.get_feature_names_out())

81543

In [11]:
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
similarity = cosine_similarity(vectors)

In [13]:
similarity[0]

array([1.        , 0.02992528, 0.02365801, ..., 0.01063349, 0.01186615,
       0.        ])

In [14]:
similarity[2]

array([0.02365801, 0.03162278, 1.        , ..., 0.01123666, 0.01253925,
       0.        ])

In [15]:
def recommend(movie):
    if movie not in df['title'].values:
        print('Movie not found')
        return []
    movie_index = df[df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse= True, key = lambda x: x[1])[:10]

    for i in movie_list:
        print(df['title'].iloc[i[0]])

In [16]:
recommend('Avatar')

Avatar
Predator
Titan A.E.
Predators
The Helix... Loaded
Aliens vs Predator: Requiem
Lifeforce
Apollo 18
Meet Dave
U.F.O.

In [17]:
import pickle

In [18]:
#pickle.dump(df, open(r'C:\Users\jasim\Data Science\My Project\Movie Recommendation System\model\movies recommender.pkl', 'wb'))

In [19]:
with open(r'C:\Users\jasim\Data Science\My Project\Movie Recommendation System\model\movies recommender.pkl', 'wb') as file:
    pickle.dump((df, similarity), file)
print('model saved successfully.')

model saved successfully.